
  <body>
    <div class="sideMenu">
      <div class="Welcome">
        Hi, <%= current_user.fullname %>!
      </div>
      <span class="InsideSideMenu">
        <a href="#" <i class="fa fa-home"></i> Dashboard </a>
      </span>
      <div class="InsideSideMenu">
        <a href="#" <i class="fa fa-calendar"></i> Events </a>
      </div>
      <div class="InsideSideMenu">
        <%=  link_to "PINUSians", users_path, class: "fa fa-user" %>
      </div>
      <div class="InsideSideMenu">
        <%= link_to "Profile", edit_user_info_path(id: current_user.id), class: "fa fa-user" %>
      </div>
      <div class="InsideSideMenu">
        <%= link_to "Settings", edit_user_registration_path, class: "fa fa-cog" %>
      </div>
      <div class="InsideSideMenu">
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "fa fa-sign-out" %>
      </div>
    </div>
  </body>
