<<<<<<< HEAD

  <body>
    <div class="side-menu">
      <div class="welcome">
        Hi, <%= current_user.fullname %>!
      </div>
      <span class="inside-side-menu">
        <a href="#" <i class="fa fa-home"></i> Dashboard </a>
      </span>
      <div class="inside-side-menu" class="dropdown-toggle">
        <a href="#" <i class="fa fa-calendar"></i> Events <i class="fa fa-caret-down"></i> </a>
      </div>
      <div class="inside-side-menu">
        <%=  link_to "PINUSians", users_path, class: "fa fa-user" %>
      </div>
      <div class="inside-side-menu">
        <%= link_to "Profile", edit_user_info_path(id: current_user.id), class: "fa fa-user" %>
||||||| merged common ancestors
<div class="jumbotron">
  <div class="row">
    <div class="col-xs-12 col-md-8 offset-md-2">
      <h1 class="text-center display-1">Welcome, <%= current_user.fullname %></h1>
      <div class="row">
      <div class="col-6">
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-secondary btn-block" %>
      </div>
      <div class="col-6">
        <%= link_to "Account settings", edit_user_registration_path, class: "btn btn-primary btn-block" %>
      </div>
      <div class="col-6">
        <%= link_to "Edit Personal Information", edit_user_info_path(id: current_user.id), class: "btn btn-primary btn-block" %>
      </div>
      <div class="col-6">
        <%=  link_to "List of PINUSians", users_path, class: "btn btn-warning btn-block" %>
=======
<div class="jumbotron">
  <div class="row">
    <div class="col-xs-12 col-md-8 offset-md-2">
      <div class = "row">
        <div class="col-4">
          <%= link_to image_tag(current_user.avatar.url(:medium)), edit_user_info_path(id: current_user.id) %>
        </div>
        <div class="col-8">
          <h2 class="text-center display-1">Welcome, <%= current_user.fullname %></h2>
        </div>
>>>>>>> origin/master
      </div>
<<<<<<< HEAD
      <div class="inside-side-menu">
        <%= link_to "Settings", edit_user_registration_path, class: "fa fa-cog" %>
      </div>
      <div class="inside-side-menu">
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "fa fa-sign-out" %>
||||||| merged common ancestors
=======
      <div class = "row">
        <div class="col-6">
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-secondary btn-block" %>
        </div>
        <div class="col-6">
          <%= link_to "Account settings", edit_user_registration_path, class: "btn btn-primary btn-block" %>
        </div>
        <div class="col-6">
          <%= link_to "Edit Personal Information", edit_user_info_path(id: current_user.id), class: "btn btn-primary btn-block" %>
        </div>
        <div class="col-6">
          <%=  link_to "List of PINUSians", users_path, class: "btn btn-warning btn-block" %>
        </div>
>>>>>>> origin/master
      </div>
    </div>
  </body>


<table class="table">
  <thead>
    <tr>
      <th scope="col">Full Name</th>
      <th scope="col">Email</th>
      <th scope="col">Roles</th>
      <% if current_user.has_role? :admin %>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
        <tr>
          <td><%= user.fullname %></td>
          <td><%= user.email %></td>
          <td><%= user.all_roles || '-' %></td>
          <td><%= link_to 'Edit Role', edit_user_role_path(id: user.id), class: "fa fa-edit" %></td>
          <td><%= link_to 'Delete', user_path(id: user.id), data: {	confirm: "Are you sure?" }, method: :delete, class: "fa fa-delete" %></td>
        </tr>
      <% end %>
  </tbody>
</table>
