<h3>Your Account</h3>
<p>
Full Name: <%= current_user.fullname %></td>
</p>
<p>
Email: <%= current_user.email %></td>
</p>
<p>
Roles: <%= current_user.roles.pluck(:name).join(",") %></td>
</p>

<h3>Other Accounts</h3>

<table>
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Email</th>
      <th>Roles</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    	<% if user != current_user %>
      		<tr>
        		<td><%= user.fullname %></td>
        		<td><%= user.email %></td>
        		<td><%= user.all_roles || 'None' %></td>
        		<td><%= link_to 'Edit User',edit_user_path(id: user.id)  %></td>
	        	<td><%= link_to 'Delete', user_path(id: user.id), data: { 	confirm: "Are you sure?" }, method: :delete %></td>
      		</tr>
      	<% end %>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to "Back", root_path %>
