<div class="jumbotron">
  <div class="row">
    <div class="col-xs-12 col-md-8 offset-md-2">
      <h1>Manage Accounts</h1>
      <h3>Your Account</h3>
      <table class="table">
        <tr>
          <th scope="row">Full Name</th>
          <td><%= current_user.fullname %></td>
        </tr>
        <tr>
          <th scope="row">Email</th>
          <td><%= current_user.email %></td>
        </tr>
        <tr>
          <th scope="row">Roles</th>
          <td><%= current_user.all_roles || '-' %></td>
        </tr>
      </table>
      <h3>Other Accounts</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Full Name</th>
            <th scope="col">Email</th>
            <th scope="col">Roles</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
        <% @users.each do |user| %>
          <% if user != current_user %>
            <tr>
                <td><%= user.fullname %>
            		<td><%= user.email %>
            		<td><%= user.all_roles || '-' %>
            		<% if current_user.has_role? :admin %>
            		<td><%= link_to 'Edit User', edit_user_role_path(id: user.id), class: "btn btn-warning btn-sm"  %>
      	    		<%= link_to 'Delete', user_path(id: user.id), data: { 	confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger btn-sm" %>
      	        	<% end %>
                </tr>
            	<% end %>
          <% end %>
        </tbody>
        </table>
    <br>
    <br>
    <%= link_to "Back", root_path, class: "btn-primary btn btn-block" %>
  </div>
  </div>
</div>
