<div class="jumbotron">
  <div class="row">
    <div class="col-xs-12 col-md-8 offset-md-2">
      <h1 class="text-center display-1">Welcome, <%= current_user.fullname %></h1>
      <div class="row">
        <% if can? :create, User %>
          <div class="col-12">
          <%= link_to "Create New User", new_user_path, class: "btn btn-primary btn-block" %><br />
        </div>
        <% end %>
      <div class="col-4">
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-secondary btn-block" %>
      </div>
      <div class="col-4">
        <%= link_to "Edit your account", edit_user_registration_path, class: "btn btn-primary btn-block" %>
      </div>
      <div class="col-4">
        <%=  link_to "Manage accounts", users_path, class: "btn btn-warning btn-block" %>
      </div>
      </div>
    </div>
  </div>
</div>
