<p id="notice"><%= notice %></p>

<h1>All Feedbacks</h1>
<br/>
<div class="table-responsive{-sm|-md|-lg|-xl}">
  <table class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Anon?</th>
        <th scope="col">Message</th>
        <th scope="col">Actions</th> <!--prev colspan="3"-->
      </tr>
    </thead>

    <tbody>
      <% @feedbacks.each do |feedback| %>
        <tr>
          <th scope="row"><%= feedback.name %></th>
          <td><%= feedback.email %></td>
          <td><%= feedback.anonymous %></td>
          <td><%= feedback.message %></td>
          <td>
            <button type="button" class="btn btn-link"><%= link_to 'Show', feedback %></button>
            <button type="button" class="btn btn-link"><%= link_to 'Destroy', feedback, method: :delete, data: { confirm: 'Are you sure?' } %></button>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

<%= link_to 'New Feedback', new_feedback_path %>
