<br/>
<h1>New Feedback</h1>
<br/><br/>

<p>If you are expecting a reply from us, please fill in your particulars
and uncheck the Anonymous check box.</p>
<p>If you are providing an anonymous feedback, please leave the Anonymous
check box checked. Your particulars will, by default, be <strong>Anonymous</strong>.</p>
</br>

<%= form_for @feedback do |f| %>
<p>
	<%= f.label :name %>
	<%= f.text_field :name %>
</p>
<p>
	<%= f.label :email %>
	<%= f.text_field :email %>
</p>
<p>
	<%= f.label :anonymous %>
	<%= f.check_box :anonymous %>
</p>
<p>
	<%= f.label	:message %>
	<%= f.text_area :message %>
</p>

	<%= f.submit 'Submit Feedback' %>
<% end %>

<%= link_to 'Back', feedbacks_path %>
