<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @feedback.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @feedback.email %>
</p>

<p>
  <strong>Anonymous:</strong>
  <%= @feedback.anonymous %>
</p>

<p>
  <strong>Message:</strong>
  <%= @feedback.message %>
</p>

<%= link_to 'Edit', edit_feedback_path(@feedback) %> |
<%= link_to 'Back', feedbacks_path %>
